$gray: #242F51;
$orange: #FCAE61;
$blue: #2500F9;
$dark-blue: #09142E;
$light-blue: #2563FF;
$baby-blue: #F4F4FF;
$light-gray3: #F4F7F9;
$green: #40975F;
$light-green: #E4FFEE;
$white: #FFFFFF;
$light-gray: #E2EAED;
$light-gray2: #F4F4FF;
$icon-gray: #273043;
$coral: #F55767;
$light-coral: #FFECEF;
$light-orange: #FFF6D3;
$light-mint: #E4FFEE;
$light-red: #FDEEE4;
$medium-gray: #999CA5;
$yellow: #FFCC00;
$medium-gray2: #616368;
$bg-gray: #F5F7FA;